html {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-home {
  background-image: url("images/background.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}


/*============= HEADER ===============*/
.header {
  background: rgba(0,0,0,.20);
  width: 100%;
  height: 50px;
  top: 0;
 

  position: fixed;
  overflow: hidden;
  text-align: center;
}
.header i {
  float: left;
  padding: 17px 0px 0px 17px;
  color: #FFE8C5;
}
.header img {
  width: 250px;
  padding-top: 14px;
  padding-right: 25px;
}

/*============= HOME PAGE ===============*/

#home-logo-img{
  width: 150px;
  display: block;
  margin: auto;
  padding: 25px 10px 10px 10px;
}
#home-logo-text{
  width: 500px;
  display: block;
  margin: auto;
  padding: 25px;
}

/*============= HOME PAGE MENU ===============*/

.home-menu-item{
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000000;

  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 5px;
 background: rgba(255,255,255,.12);
}
.site-footer { padding: 2rem 1rem;
              text-align: center;
              color: #000000;
              text-decoration: none;
              font-size: 10px;
             }

.home-menu :hover, .meals-list :hover {
  background: #FF0026;
  color: #FFE8C5;
}

/*============= MEALS PAGE ===============*/
#meals {
  padding-top: 50px;
}

.body-meals {
  background-image: url("images/background.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

/*============= MEALS PAGE MENU ===============*/

.meals-list a {
  text-decoration: none;
              }

.meals-list-item {
  border: 2px solid #000000;
  margin: 10px;
  border-radius: 5px;
  background: rgba(255,255,255,.12);
}

.meals-list-item i {
  float: right;
  color: #000000;
  padding-right: 11px;
}

.meals-list-item h1 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding-left: 20px;
}
.meals-list-item p {
  font-size: 15px;
  font-style: italic;
  color: #000000;
  padding-left: 20px;
  margin-top: -7px;
}
